.App {
  text-align: center;
  background-color: #f0f8ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0a3d62;
}

.App-link {
  color: #0077cc;
  text-decoration: none;
}

.App-link:hover {
  color: #005fa3;
}

.articles {
  grid-area: articles;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ffffff;
  margin-top: 20px;
}

.articles2 {
  grid-area: articles2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
